<aside class="cover animated" style="background-image: url({{@blog.cover}})">
    <div class="background-container">
        <div class="profile">
            <header id="aside-header" class="nav-header mobile">
                <a id="aside-close-button" class="open-link right">
                    <i class="fa fa-close"></i>
                </a>
            </header>
            {{#if @blog.logo}}
            <div class="profile-logo">
                <a id="avatar-link" class="open-link" title="Link to homepage for {{@blog.title}}" href="{{@blog.url}}/#open">
                    <img src="{{@blog.logo}}" alt="{{@blog.title}} avatar" class="avatar rounded hvr-buzz-out" />
                </a>
            </div>
            {{/if}}
            <div class="profile-header">
                <a class="open-link" title="Link to homepage for {{@blog.title}}" href="{{@blog.url}}/#open">
                    <h1 class="profile-title">{{@blog.title}}</h1>
                </a>
            </div>
            <div class="profile-body">
                <a class="open-link" title="Link to homepage for {{@blog.title}}" href="{{@blog.url}}/#open">
                    <h3 id="profile-resume"></h3>
                </a>
                <hr class="divider long" />
                <p>{{@blog.description}}</p>
                <hr class="divider short" />
                    <div class="call-to-action-container">
                        {{navigation}}
                    </div>
            </div>
            {{> social}}
        </div>
    </div>
</aside>

<div class="blog-header">
    <a title="Link to homepage for {{@blog.title}}" href="{{@blog.url}}">
        <h1 class="profile-title hvr-float">{{@blog.title}}</h1>
    </a>
    {{navigation}}
</div>
