<footer class="comments">
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '{{date format="YYYYMMDDHHmmss"}}', // 可选。默认为 location.href
  owner: 'mcrwayfun',
  repo: 'gitment-blog-comment',
  oauth: {
    client_id: '0ee4f219bf1d11676ace',
    client_secret: 'b1e2a1ee539e0b13a1d3ce39ff8c1f1a16549638',
  },
})
gitment.render('container')
</script>

</footer>
