<footer>
    <span class="copyright">
        &copy; {{date format="YYYY"}} {{@blog.title}}. All Rights Reserved. | Published with <a href="https://ghost.org/" target="_blank">Ghost</a> and <a href="https://github.com/kelyvin/caffeine-theme" target="_blank">Caffeine Theme</a>.
    </span>
    <span style="copyright">
        <a href="https://www.upyun.com/" target="_blank" rel="nofollow">
            <img src="https://www.laobuluo.com/banner/upyun.png">
        </a>
    </span>
</footer>
