{{!------------------------------
To add a new social icon simply add an icon listed within the Font Awesome toolkit.
Add the class in the <i> tag to match the desired social network
and then add your link to the <a>.
--------------------------------}}
<ul class="social expanded">

    <!-- CSDN -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://blog.csdn.net/qingtian_1993" title="mcrwayfun on CSDN">
            <i class='iconfont icon-csdn'></i>
            <span class="label">CSDN</span>
        </a>
    </li>

    <!-- 简书 -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://www.jianshu.com/u/02ecc98f9745" title="mcrwayfun on 简书">
            <i class='iconfont icon-jianshu'></i>
            <span class="label">简书</span>
        </a>
    </li>

    <!-- Github -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://github.com/mcrwayfun" title="mcrwayfun on Github">
            <i class='fa fa-github'></i>
            <span class="label">Github</span>
        </a>
    </li>

    <!-- RSS -->
    <li class="social item hvr-grow-rotate">
        <a href="/rss/" title="Subscribe to RSS">
            <i class='fa fa-rss'></i>
            <span class="label">RSS</span>
        </a>
    </li>
</ul>
