<!DOCTYPE html>
<html>
    <head>
        <!--[if lte IE 9]>
        <script type="text/javascript">
            window.location = "/browser-compatibility";
        </script>
        <![endif]-->
        <title>{{meta_title}}</title>
        {{ghost_head}}
        {{> meta}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/caffeine-theme.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "highlight/styles/agate.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "css/other.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "icon/iconfont.css"}}" />
        {{> head-css}}
        {{> headscript}}
    </head>
    <body class="{{body_class}}">
        {{> header}}
        {{> aside}}
        <main class="animated">
            <section class="content">
                {{{body}}}
                {{> footer}}
            </section>
        </main>
        {{> tags-overlay}}
        {{ghost_foot}}
        <script src="{{asset "js/caffeine-theme.js"}}" type="text/javascript" charset="utf-8"></script>
        <script src="{{asset "js/mcrwayfun.js"}}" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="{{asset "highlight/highlight.pack.js"}}"></script>
        <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
        {{> google-analytics}}

    </body>
</html>
