/**
 * caffeine-theme - Material Design Inspired theme for Ghost
 * @version 4.0.0
 * @link    https://github.com/kelyvin/caffeine-theme
 * @author  Kelyvin (https://github.com/kelyvin)
 * @license MIT
 */
@charset "UTF-8";
#subbscribe, #subbscribe a, #subbscribe a:active, #subbscribe a:focus, #subbscribe a:hover, #subbscribe a:visited {
    color: #7B8993
}

.clear, body:after {
    clear: both
}

.block-heading, .tags a {
    text-transform: uppercase
}

.result, blockquote > p, p, pre {
    word-wrap: break-word
}

#subbscribe {
    padding: 0;
    margin: 0;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border: 1px solid #e9e9e9;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: 17px;
    font-size: 15px;
    -webkit-box-shadow: 0 1px 2px #e9e9e9;
    box-shadow: 0 1px 2px #e9e9e9;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #fff;
    z-index: 100001;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0)
}

#subbscribe a {
    text-decoration: underline
}

#subbscribe .subbscribe-alert {
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 10px
}

#subbscribe .subbscribe-error {
    color: #FD392B
}

#subbscribe .subbscribe-success {
    color: #9FCE70
}

#subbscribe .animate, #subbscribe .subb-body .subb-button:hover, #subbscribe .subb-body .subb-form input:focus {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

#subbscribe .subb-title {
    padding: 12px 12px 10px;
    font-weight: 700;
    border: 1px solid #e9e9e9;
    border-width: 0 0 1px
}

#subbscribe .subb-title .close-x {
    float: right;
    margin-top: 5px;
    color: #dcdcdc;
    cursor: pointer
}

#subbscribe .subb-body {
    padding: 15px;
    position: relative
}

#subbscribe .subb-body .subb-thumbnail {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
    margin-bottom: 15px
}

#subbscribe .subb-body .subb-hidden, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

#subbscribe .subb-body .subb-thumbnail img {
    border-radius: 40px;
    background-clip: padding-box
}

#subbscribe .subb-body .subb-button {
    float: right;
    margin-top: 5px;
    color: #fff;
    border: none;
    font-weight: 700;
    padding: 9px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    background-clip: padding-box
}

#subbscribe .subb-body .subb-button:disabled {
    opacity: .5
}

#subbscribe .subb-body .subb-hidden .subb-site {
    float: left;
    font-weight: 700;
    font-size: 14px;
    margin-top: 12px;
    margin-left: 10px
}

#subbscribe .subb-body .subb-form {
    padding-left: 5px;
    color: #636f78
}

#subbscribe .subb-body .subb-form p {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 500 !important;
    width: 100%;
    color: #7B8993
}

#subbscribe .subb-body .subb-form input {
    text-indent: 8px;
    font-weight: 500;
    margin-bottom: 5px;
    border-radius: 3px;
    background-clip: padding-box;
    border: 1px solid #dcdcdc;
    font-size: 12px;
    display: block;
    color: #57626a;
    width: 100%;
    padding: 5px 0
}

#subbscribe .subb-body .subb-form input.error {
    border-color: #FD392B
}

#subbscribe .subb-body .subb-form input:focus {
    outline: 0;
    resize: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

#subbscribe .subb-body .footer {
    font-size: 10px;
    text-align: right
}

.block-heading, .fa-fw, .fa-li, .material-cover, blockquote > p, main > .content > footer {
    text-align: center
}

.animated, .nav-header a i, .posts > li > a > h2, .tags a, a {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.material-cover.no-cover, .posts {
    visibility: hidden
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.home-template .blog-header, .transparent {
    opacity: 0
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@media (max-width: 550px) {
    #subbscribe {
        width: calc(100% - 8px)
    }
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0
}

blockquote > p, h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased
}

blockquote > p, em {
    font-style: italic
}

li > code, p > code {
    padding: 2px 4px;
    border: 1px solid #d9d9d9
}

body {
    line-height: 1;
    width: 100%;
    font-family: Geneva, sans-serif;
    color: #666;
    background: #eee
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

body:after, body:before {
    display: table;
    content: ""
}

html {
    font-size: 1rem
}

body, html {
    height: 100%;
    min-height: 100%
}

body.expanded, html.expanded {
    overflow-y: hidden
}

.fonts-loaded body {
    font-family: Raleway, sans-serif
}

mark {
    background: #16c2a6
}

::-moz-selection {
    background: #9ebeb9
}

::selection {
    background: #9ebeb9
}

::scrollbar {
    display: none
}

a {
    position: relative;
    text-decoration: none;
    color: #2895F1
}

a:hover {
    color: #56817A
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-weight: lighter;
    color: #333
}

.fonts-loaded h1, .fonts-loaded h2, .fonts-loaded h3, .fonts-loaded h4, .fonts-loaded h6 {
    font-family: "Roboto Slab", Georgia, serif
}

h1 {
    margin: 2.75rem 0;
    font-size: 2.2rem;
    line-height: 48px
}

h2 {
    margin: 2rem 0;
    font-size: 1.7rem
}

h3 {
    margin: 1.6rem 0;
    font-size: 1.445rem
}

h4 {
    margin: 1.28rem 0;
    font-size: 1.22825rem
}

h5 {
    margin: 1.024rem 0;
    font-size: 1.04401rem
}

h6 {
    margin: .8192rem 0;
    font-size: .88741rem
}

p {
    margin-bottom: 20px;
    line-height: 26px;
    font-size: 90%
}

p > code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 14px;
    font-weight: 300;
    color: #999;
    border-radius: 3px
}

.fonts-loaded p {
    font-size: 100%
}

strong {
    font-weight: 700
}

blockquote > p {
    margin: 40px 48px;
    font-family: freight-text-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px
}

li > code, pre {
    font-size: 14px;
    font-weight: 300;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: #999
}

ol, ul {
    list-style: none;
    margin: 0 0 20px 40px
}

ol li, ul li {
    margin: 0 0 4px;
    line-height: 25px
}

ol ol, ol ul, ul ol, ul ul {
    margin: 2px 0 4px 32px
}

ol {
    list-style-type: decimal
}

ul {
    list-style-type: disc
}

.fa-ul, .posts {
    list-style-type: none
}

li > code {
    border-radius: 3px
}

pre {
    padding: 16px 2.5%;
    margin-bottom: 20px;
    line-height: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 3px
}

pre > code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 12px;
    color: #999;
    white-space: pre-wrap
}

code:hover, pre:hover {
    color: #333
}

.fluid-width-video-wrapper {
    padding-top: 0 !important
}

.fluid-width-video-wrapper iframe {
    position: relative !important
}

iframe {
    width: 100%;
    min-height: 500px
}

.block-heading, .container {
    position: relative;
    width: 940px
}

.block-heading {
    bottom: -15px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline;
    float: left;
    margin: 0 10px
}

.label {
    padding: 8px 18px 9px
}

.container {
    margin: 0 auto
}

main {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

main > .content > h1 {
    margin-bottom: 42px
}

main > .content > footer {
    margin-top: 20px;
    display: block;
    padding: 32px 0 0;
    font-size: 12px;
    color: #b3b3b3
}

.material-cover {
    height: 340px;
    width: 100%;
    background: center center no-repeat #222;
    background-size: cover;
    overflow: hidden;
    margin-bottom: -80px;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .4);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 0, .5)
}

.material-cover .background-container {
    height: 100%;
    width: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .4);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 0, .5)
}

.copyright {
    display: block;
    margin-bottom: 12px
}

.copyright a {
    text-decoration: underline;
    color: #a6a6a6
}

.copyright a:hover {
    color: #56817A
}

.divider {
    margin: 10px auto;
    border-top: 1px solid rgba(255, 255, 255, .14)
}

.fa.fa-pull-left, .fa.pull-left {
    margin-right: .3em
}

.divider.long {
    width: 30%
}

.divider.short {
    width: 15%
}

hr {
    border: none
}

.hide {
    display: none
}

.kg-gallery-container, .kg-gallery-image, .kg-gallery-row, .kg-width-full, .kg-width-wide {
    width: inherit
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.btn, .social.item a, table thead {
    font-weight: 700
}

.btn, .call-to-action-container .navigation .links li a, .social.item a {
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px
}

.token.italic, table tfoot {
    font-style: italic
}

.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -15%
}

.fa-stack, .hvr-grow {
    display: inline-block;
    vertical-align: middle
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-fw {
    width: 1.28571em
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14286em
}

.fa.fa-pull-right, .fa.pull-right {
    margin-left: .3em
}

.fa-ul > li {
    position: relative
}

.fa-li {
    position: absolute;
    left: -2.14286em;
    width: 2.14286em;
    top: .14286em
}

.fa-li.fa-lg {
    left: -1.85714em
}

.fa-border {
    padding: .2em .25em .15em;
    border: .08em solid #eee;
    border-radius: .1em
}

.fa-pull-left {
    float: left
}

.fa-pull-right, .pull-right {
    float: right
}

.pull-left {
    float: left
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1)
}

:root .fa-flip-horizontal, :root .fa-flip-vertical, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-rotate-90 {
    -webkit-filter: none;
    filter: none
}

.fa-stack {
    position: relative;
    width: 2em;
    height: 2em;
    line-height: 2em
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.fa-stack-1x {
    line-height: inherit
}

.fa-stack-2x {
    font-size: 2em
}

.fa-inverse {
    color: #fff
}

.fa-glass:before {
    content: ""
}

.fa-music:before {
    content: ""
}

.fa-search:before {
    content: ""
}

.fa-envelope-o:before {
    content: ""
}

.fa-heart:before {
    content: ""
}

.fa-star:before {
    content: ""
}

.fa-star-o:before {
    content: ""
}

.fa-user:before {
    content: ""
}

.fa-film:before {
    content: ""
}

.fa-th-large:before {
    content: ""
}

.fa-th:before {
    content: ""
}

.fa-th-list:before {
    content: ""
}

.fa-check:before {
    content: ""
}

.fa-close:before, .fa-remove:before, .fa-times:before {
    content: ""
}

.fa-search-plus:before {
    content: ""
}

.fa-search-minus:before {
    content: ""
}

.fa-power-off:before {
    content: ""
}

.fa-signal:before {
    content: ""
}

.fa-cog:before, .fa-gear:before {
    content: ""
}

.fa-trash-o:before {
    content: ""
}

.fa-home:before {
    content: ""
}

.fa-file-o:before {
    content: ""
}

.fa-clock-o:before {
    content: ""
}

.fa-road:before {
    content: ""
}

.fa-download:before {
    content: ""
}

.fa-arrow-circle-o-down:before {
    content: ""
}

.fa-arrow-circle-o-up:before {
    content: ""
}

.fa-inbox:before {
    content: ""
}

.fa-play-circle-o:before {
    content: ""
}

.fa-repeat:before, .fa-rotate-right:before {
    content: ""
}

.fa-refresh:before {
    content: ""
}

.fa-list-alt:before {
    content: ""
}

.fa-lock:before {
    content: ""
}

.fa-flag:before {
    content: ""
}

.fa-headphones:before {
    content: ""
}

.fa-volume-off:before {
    content: ""
}

.fa-volume-down:before {
    content: ""
}

.fa-volume-up:before {
    content: ""
}

.fa-qrcode:before {
    content: ""
}

.fa-barcode:before {
    content: ""
}

.fa-tag:before {
    content: ""
}

.fa-tags:before {
    content: ""
}

.fa-book:before {
    content: ""
}

.fa-bookmark:before {
    content: ""
}

.fa-print:before {
    content: ""
}

.fa-camera:before {
    content: ""
}

.fa-font:before {
    content: ""
}

.fa-bold:before {
    content: ""
}

.fa-italic:before {
    content: ""
}

.fa-text-height:before {
    content: ""
}

.fa-text-width:before {
    content: ""
}

.fa-align-left:before {
    content: ""
}

.fa-align-center:before {
    content: ""
}

.fa-align-right:before {
    content: ""
}

.fa-align-justify:before {
    content: ""
}

.fa-list:before {
    content: ""
}

.fa-dedent:before, .fa-outdent:before {
    content: ""
}

.fa-indent:before {
    content: ""
}

.fa-video-camera:before {
    content: ""
}

.fa-image:before, .fa-photo:before, .fa-picture-o:before {
    content: ""
}

.fa-pencil:before {
    content: ""
}

.fa-map-marker:before {
    content: ""
}

.fa-adjust:before {
    content: ""
}

.fa-tint:before {
    content: ""
}

.fa-edit:before, .fa-pencil-square-o:before {
    content: ""
}

.fa-share-square-o:before {
    content: ""
}

.fa-check-square-o:before {
    content: ""
}

.fa-arrows:before {
    content: ""
}

.fa-step-backward:before {
    content: ""
}

.fa-fast-backward:before {
    content: ""
}

.fa-backward:before {
    content: ""
}

.fa-play:before {
    content: ""
}

.fa-pause:before {
    content: ""
}

.fa-stop:before {
    content: ""
}

.fa-forward:before {
    content: ""
}

.fa-fast-forward:before {
    content: ""
}

.fa-step-forward:before {
    content: ""
}

.fa-eject:before {
    content: ""
}

.fa-chevron-left:before {
    content: ""
}

.fa-chevron-right:before {
    content: ""
}

.fa-plus-circle:before {
    content: ""
}

.fa-minus-circle:before {
    content: ""
}

.fa-times-circle:before {
    content: ""
}

.fa-check-circle:before {
    content: ""
}

.fa-question-circle:before {
    content: ""
}

.fa-info-circle:before {
    content: ""
}

.fa-crosshairs:before {
    content: ""
}

.fa-times-circle-o:before {
    content: ""
}

.fa-check-circle-o:before {
    content: ""
}

.fa-ban:before {
    content: ""
}

.fa-arrow-left:before {
    content: ""
}

.fa-arrow-right:before {
    content: ""
}

.fa-arrow-up:before {
    content: ""
}

.fa-arrow-down:before {
    content: ""
}

.fa-mail-forward:before, .fa-share:before {
    content: ""
}

.fa-expand:before {
    content: ""
}

.fa-compress:before {
    content: ""
}

.fa-plus:before {
    content: ""
}

.fa-minus:before {
    content: ""
}

.fa-asterisk:before {
    content: ""
}

.fa-exclamation-circle:before {
    content: ""
}

.fa-gift:before {
    content: ""
}

.fa-leaf:before {
    content: ""
}

.fa-fire:before {
    content: ""
}

.fa-eye:before {
    content: ""
}

.fa-eye-slash:before {
    content: ""
}

.fa-exclamation-triangle:before, .fa-warning:before {
    content: ""
}

.fa-plane:before {
    content: ""
}

.fa-calendar:before {
    content: ""
}

.fa-random:before {
    content: ""
}

.fa-comment:before {
    content: ""
}

.fa-magnet:before {
    content: ""
}

.fa-chevron-up:before {
    content: ""
}

.fa-chevron-down:before {
    content: ""
}

.fa-retweet:before {
    content: ""
}

.fa-shopping-cart:before {
    content: ""
}

.fa-folder:before {
    content: ""
}

.fa-folder-open:before {
    content: ""
}

.fa-arrows-v:before {
    content: ""
}

.fa-arrows-h:before {
    content: ""
}

.fa-bar-chart-o:before, .fa-bar-chart:before {
    content: ""
}

.fa-twitter-square:before {
    content: ""
}

.fa-facebook-square:before {
    content: ""
}

.fa-camera-retro:before {
    content: ""
}

.fa-key:before {
    content: ""
}

.fa-cogs:before, .fa-gears:before {
    content: ""
}

.fa-comments:before {
    content: ""
}

.fa-thumbs-o-up:before {
    content: ""
}

.fa-thumbs-o-down:before {
    content: ""
}

.fa-star-half:before {
    content: ""
}

.fa-heart-o:before {
    content: ""
}

.fa-sign-out:before {
    content: ""
}

.fa-linkedin-square:before {
    content: ""
}

.fa-thumb-tack:before {
    content: ""
}

.fa-external-link:before {
    content: ""
}

.fa-sign-in:before {
    content: ""
}

.fa-trophy:before {
    content: ""
}

.fa-github-square:before {
    content: ""
}

.fa-upload:before {
    content: ""
}

.fa-lemon-o:before {
    content: ""
}

.fa-phone:before {
    content: ""
}

.fa-square-o:before {
    content: ""
}

.fa-bookmark-o:before {
    content: ""
}

.fa-phone-square:before {
    content: ""
}

.fa-twitter:before {
    content: ""
}

.fa-facebook-f:before, .fa-facebook:before {
    content: ""
}

.fa-github:before {
    content: ""
}

.fa-unlock:before {
    content: ""
}

.fa-credit-card:before {
    content: ""
}

.fa-feed:before, .fa-rss:before {
    content: ""
}

.fa-hdd-o:before {
    content: ""
}

.fa-bullhorn:before {
    content: ""
}

.fa-bell:before {
    content: ""
}

.fa-certificate:before {
    content: ""
}

.fa-hand-o-right:before {
    content: ""
}

.fa-hand-o-left:before {
    content: ""
}

.fa-hand-o-up:before {
    content: ""
}

.fa-hand-o-down:before {
    content: ""
}

.fa-arrow-circle-left:before {
    content: ""
}

.fa-arrow-circle-right:before {
    content: ""
}

.fa-arrow-circle-up:before {
    content: ""
}

.fa-arrow-circle-down:before {
    content: ""
}

.fa-globe:before {
    content: ""
}

.fa-wrench:before {
    content: ""
}

.fa-tasks:before {
    content: ""
}

.fa-filter:before {
    content: ""
}

.fa-briefcase:before {
    content: ""
}

.fa-arrows-alt:before {
    content: ""
}

.fa-group:before, .fa-users:before {
    content: ""
}

.fa-chain:before, .fa-link:before {
    content: ""
}

.fa-cloud:before {
    content: ""
}

.fa-flask:before {
    content: ""
}

.fa-cut:before, .fa-scissors:before {
    content: ""
}

.fa-copy:before, .fa-files-o:before {
    content: ""
}

.fa-paperclip:before {
    content: ""
}

.fa-floppy-o:before, .fa-save:before {
    content: ""
}

.fa-square:before {
    content: ""
}

.fa-bars:before, .fa-navicon:before, .fa-reorder:before {
    content: ""
}

.fa-list-ul:before {
    content: ""
}

.fa-list-ol:before {
    content: ""
}

.fa-strikethrough:before {
    content: ""
}

.fa-underline:before {
    content: ""
}

.fa-table:before {
    content: ""
}

.fa-magic:before {
    content: ""
}

.fa-truck:before {
    content: ""
}

.fa-pinterest:before {
    content: ""
}

.fa-pinterest-square:before {
    content: ""
}

.fa-google-plus-square:before {
    content: ""
}

.fa-google-plus:before {
    content: ""
}

.fa-money:before {
    content: ""
}

.fa-caret-down:before {
    content: ""
}

.fa-caret-up:before {
    content: ""
}

.fa-caret-left:before {
    content: ""
}

.fa-caret-right:before {
    content: ""
}

.fa-columns:before {
    content: ""
}

.fa-sort:before, .fa-unsorted:before {
    content: ""
}

.fa-sort-desc:before, .fa-sort-down:before {
    content: ""
}

.fa-sort-asc:before, .fa-sort-up:before {
    content: ""
}

.fa-envelope:before {
    content: ""
}

.fa-linkedin:before {
    content: ""
}

.fa-rotate-left:before, .fa-undo:before {
    content: ""
}

.fa-gavel:before, .fa-legal:before {
    content: ""
}

.fa-dashboard:before, .fa-tachometer:before {
    content: ""
}

.fa-comment-o:before {
    content: ""
}

.fa-comments-o:before {
    content: ""
}

.fa-bolt:before, .fa-flash:before {
    content: ""
}

.fa-sitemap:before {
    content: ""
}

.fa-umbrella:before {
    content: ""
}

.fa-clipboard:before, .fa-paste:before {
    content: ""
}

.fa-lightbulb-o:before {
    content: ""
}

.fa-exchange:before {
    content: ""
}

.fa-cloud-download:before {
    content: ""
}

.fa-cloud-upload:before {
    content: ""
}

.fa-user-md:before {
    content: ""
}

.fa-stethoscope:before {
    content: ""
}

.fa-suitcase:before {
    content: ""
}

.fa-bell-o:before {
    content: ""
}

.fa-coffee:before {
    content: ""
}

.fa-cutlery:before {
    content: ""
}

.fa-file-text-o:before {
    content: ""
}

.fa-building-o:before {
    content: ""
}

.fa-hospital-o:before {
    content: ""
}

.fa-ambulance:before {
    content: ""
}

.fa-medkit:before {
    content: ""
}

.fa-fighter-jet:before {
    content: ""
}

.fa-beer:before {
    content: ""
}

.fa-h-square:before {
    content: ""
}

.fa-plus-square:before {
    content: ""
}

.fa-angle-double-left:before {
    content: ""
}

.fa-angle-double-right:before {
    content: ""
}

.fa-angle-double-up:before {
    content: ""
}

.fa-angle-double-down:before {
    content: ""
}

.fa-angle-left:before {
    content: ""
}

.fa-angle-right:before {
    content: ""
}

.fa-angle-up:before {
    content: ""
}

.fa-angle-down:before {
    content: ""
}

.fa-desktop:before {
    content: ""
}

.fa-laptop:before {
    content: ""
}

.fa-tablet:before {
    content: ""
}

.fa-mobile-phone:before, .fa-mobile:before {
    content: ""
}

.fa-circle-o:before {
    content: ""
}

.fa-quote-left:before {
    content: ""
}

.fa-quote-right:before {
    content: ""
}

.fa-spinner:before {
    content: ""
}

.fa-circle:before {
    content: ""
}

.fa-mail-reply:before, .fa-reply:before {
    content: ""
}

.fa-github-alt:before {
    content: ""
}

.fa-folder-o:before {
    content: ""
}

.fa-folder-open-o:before {
    content: ""
}

.fa-smile-o:before {
    content: ""
}

.fa-frown-o:before {
    content: ""
}

.fa-meh-o:before {
    content: ""
}

.fa-gamepad:before {
    content: ""
}

.fa-keyboard-o:before {
    content: ""
}

.fa-flag-o:before {
    content: ""
}

.fa-flag-checkered:before {
    content: ""
}

.fa-terminal:before {
    content: ""
}

.fa-code:before {
    content: ""
}

.fa-mail-reply-all:before, .fa-reply-all:before {
    content: ""
}

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
    content: ""
}

.fa-location-arrow:before {
    content: ""
}

.fa-crop:before {
    content: ""
}

.fa-code-fork:before {
    content: ""
}

.fa-chain-broken:before, .fa-unlink:before {
    content: ""
}

.fa-question:before {
    content: ""
}

.fa-info:before {
    content: ""
}

.fa-exclamation:before {
    content: ""
}

.fa-superscript:before {
    content: ""
}

.fa-subscript:before {
    content: ""
}

.fa-eraser:before {
    content: ""
}

.fa-puzzle-piece:before {
    content: ""
}

.fa-microphone:before {
    content: ""
}

.fa-microphone-slash:before {
    content: ""
}

.fa-shield:before {
    content: ""
}

.fa-calendar-o:before {
    content: ""
}

.fa-fire-extinguisher:before {
    content: ""
}

.fa-rocket:before {
    content: ""
}

.fa-maxcdn:before {
    content: ""
}

.fa-chevron-circle-left:before {
    content: ""
}

.fa-chevron-circle-right:before {
    content: ""
}

.fa-chevron-circle-up:before {
    content: ""
}

.fa-chevron-circle-down:before {
    content: ""
}

.fa-html5:before {
    content: ""
}

.fa-css3:before {
    content: ""
}

.fa-anchor:before {
    content: ""
}

.fa-unlock-alt:before {
    content: ""
}

.fa-bullseye:before {
    content: ""
}

.fa-ellipsis-h:before {
    content: ""
}

.fa-ellipsis-v:before {
    content: ""
}

.fa-rss-square:before {
    content: ""
}

.fa-play-circle:before {
    content: ""
}

.fa-ticket:before {
    content: ""
}

.fa-minus-square:before {
    content: ""
}

.fa-minus-square-o:before {
    content: ""
}

.fa-level-up:before {
    content: ""
}

.fa-level-down:before {
    content: ""
}

.fa-check-square:before {
    content: ""
}

.fa-pencil-square:before {
    content: ""
}

.fa-external-link-square:before {
    content: ""
}

.fa-share-square:before {
    content: ""
}

.fa-compass:before {
    content: ""
}

.fa-caret-square-o-down:before, .fa-toggle-down:before {
    content: ""
}

.fa-caret-square-o-up:before, .fa-toggle-up:before {
    content: ""
}

.fa-caret-square-o-right:before, .fa-toggle-right:before {
    content: ""
}

.fa-eur:before, .fa-euro:before {
    content: ""
}

.fa-gbp:before {
    content: ""
}

.fa-dollar:before, .fa-usd:before {
    content: ""
}

.fa-inr:before, .fa-rupee:before {
    content: ""
}

.fa-cny:before, .fa-jpy:before, .fa-rmb:before, .fa-yen:before {
    content: ""
}

.fa-rouble:before, .fa-rub:before, .fa-ruble:before {
    content: ""
}

.fa-krw:before, .fa-won:before {
    content: ""
}

.fa-bitcoin:before, .fa-btc:before {
    content: ""
}

.fa-file:before {
    content: ""
}

.fa-file-text:before {
    content: ""
}

.fa-sort-alpha-asc:before {
    content: ""
}

.fa-sort-alpha-desc:before {
    content: ""
}

.fa-sort-amount-asc:before {
    content: ""
}

.fa-sort-amount-desc:before {
    content: ""
}

.fa-sort-numeric-asc:before {
    content: ""
}

.fa-sort-numeric-desc:before {
    content: ""
}

.fa-thumbs-up:before {
    content: ""
}

.fa-thumbs-down:before {
    content: ""
}

.fa-youtube-square:before {
    content: ""
}

.fa-youtube:before {
    content: ""
}

.fa-xing:before {
    content: ""
}

.fa-xing-square:before {
    content: ""
}

.fa-youtube-play:before {
    content: ""
}

.fa-dropbox:before {
    content: ""
}

.fa-stack-overflow:before {
    content: ""
}

.fa-instagram:before {
    content: ""
}

.fa-flickr:before {
    content: ""
}

.fa-adn:before {
    content: ""
}

.fa-bitbucket:before {
    content: ""
}

.fa-bitbucket-square:before {
    content: ""
}

.fa-tumblr:before {
    content: ""
}

.fa-tumblr-square:before {
    content: ""
}

.fa-long-arrow-down:before {
    content: ""
}

.fa-long-arrow-up:before {
    content: ""
}

.fa-long-arrow-left:before {
    content: ""
}

.fa-long-arrow-right:before {
    content: ""
}

.fa-apple:before {
    content: ""
}

.fa-windows:before {
    content: ""
}

.fa-android:before {
    content: ""
}

.fa-linux:before {
    content: ""
}

.fa-dribbble:before {
    content: ""
}

.fa-skype:before {
    content: ""
}

.fa-foursquare:before {
    content: ""
}

.fa-trello:before {
    content: ""
}

.fa-female:before {
    content: ""
}

.fa-male:before {
    content: ""
}

.fa-gittip:before, .fa-gratipay:before {
    content: ""
}

.fa-sun-o:before {
    content: ""
}

.fa-moon-o:before {
    content: ""
}

.fa-archive:before {
    content: ""
}

.fa-bug:before {
    content: ""
}

.fa-vk:before {
    content: ""
}

.fa-weibo:before {
    content: ""
}

.fa-renren:before {
    content: ""
}

.fa-pagelines:before {
    content: ""
}

.fa-stack-exchange:before {
    content: ""
}

.fa-arrow-circle-o-right:before {
    content: ""
}

.fa-arrow-circle-o-left:before {
    content: ""
}

.fa-caret-square-o-left:before, .fa-toggle-left:before {
    content: ""
}

.fa-dot-circle-o:before {
    content: ""
}

.fa-wheelchair:before {
    content: ""
}

.fa-vimeo-square:before {
    content: ""
}

.fa-try:before, .fa-turkish-lira:before {
    content: ""
}

.fa-plus-square-o:before {
    content: ""
}

.fa-space-shuttle:before {
    content: ""
}

.fa-slack:before {
    content: ""
}

.fa-envelope-square:before {
    content: ""
}

.fa-wordpress:before {
    content: ""
}

.fa-openid:before {
    content: ""
}

.fa-bank:before, .fa-institution:before, .fa-university:before {
    content: ""
}

.fa-graduation-cap:before, .fa-mortar-board:before {
    content: ""
}

.fa-yahoo:before {
    content: ""
}

.fa-google:before {
    content: ""
}

.fa-reddit:before {
    content: ""
}

.fa-reddit-square:before {
    content: ""
}

.fa-stumbleupon-circle:before {
    content: ""
}

.fa-stumbleupon:before {
    content: ""
}

.fa-delicious:before {
    content: ""
}

.fa-digg:before {
    content: ""
}

.fa-pied-piper-pp:before {
    content: ""
}

.fa-pied-piper-alt:before {
    content: ""
}

.fa-drupal:before {
    content: ""
}

.fa-joomla:before {
    content: ""
}

.fa-language:before {
    content: ""
}

.fa-fax:before {
    content: ""
}

.fa-building:before {
    content: ""
}

.fa-child:before {
    content: ""
}

.fa-paw:before {
    content: ""
}

.fa-spoon:before {
    content: ""
}

.fa-cube:before {
    content: ""
}

.fa-cubes:before {
    content: ""
}

.fa-behance:before {
    content: ""
}

.fa-behance-square:before {
    content: ""
}

.fa-steam:before {
    content: ""
}

.fa-steam-square:before {
    content: ""
}

.fa-recycle:before {
    content: ""
}

.fa-automobile:before, .fa-car:before {
    content: ""
}

.fa-cab:before, .fa-taxi:before {
    content: ""
}

.fa-tree:before {
    content: ""
}

.fa-spotify:before {
    content: ""
}

.fa-deviantart:before {
    content: ""
}

.fa-soundcloud:before {
    content: ""
}

.fa-database:before {
    content: ""
}

.fa-file-pdf-o:before {
    content: ""
}

.fa-file-word-o:before {
    content: ""
}

.fa-file-excel-o:before {
    content: ""
}

.fa-file-powerpoint-o:before {
    content: ""
}

.fa-file-image-o:before, .fa-file-photo-o:before, .fa-file-picture-o:before {
    content: ""
}

.fa-file-archive-o:before, .fa-file-zip-o:before {
    content: ""
}

.fa-file-audio-o:before, .fa-file-sound-o:before {
    content: ""
}

.fa-file-movie-o:before, .fa-file-video-o:before {
    content: ""
}

.fa-file-code-o:before {
    content: ""
}

.fa-vine:before {
    content: ""
}

.fa-codepen:before {
    content: ""
}

.fa-jsfiddle:before {
    content: ""
}

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-ring:before, .fa-life-saver:before, .fa-support:before {
    content: ""
}

.fa-circle-o-notch:before {
    content: ""
}

.fa-ra:before, .fa-rebel:before, .fa-resistance:before {
    content: ""
}

.fa-empire:before, .fa-ge:before {
    content: ""
}

.fa-git-square:before {
    content: ""
}

.fa-git:before {
    content: ""
}

.fa-hacker-news:before, .fa-y-combinator-square:before, .fa-yc-square:before {
    content: ""
}

.fa-tencent-weibo:before {
    content: ""
}

.fa-qq:before {
    content: ""
}

.fa-wechat:before, .fa-weixin:before {
    content: ""
}

.fa-paper-plane:before, .fa-send:before {
    content: ""
}

.fa-paper-plane-o:before, .fa-send-o:before {
    content: ""
}

.fa-history:before {
    content: ""
}

.fa-circle-thin:before {
    content: ""
}

.fa-header:before {
    content: ""
}

.fa-paragraph:before {
    content: ""
}

.fa-sliders:before {
    content: ""
}

.fa-share-alt:before {
    content: ""
}

.fa-share-alt-square:before {
    content: ""
}

.fa-bomb:before {
    content: ""
}

.fa-futbol-o:before, .fa-soccer-ball-o:before {
    content: ""
}

.fa-tty:before {
    content: ""
}

.fa-binoculars:before {
    content: ""
}

.fa-plug:before {
    content: ""
}

.fa-slideshare:before {
    content: ""
}

.fa-twitch:before {
    content: ""
}

.fa-yelp:before {
    content: ""
}

.fa-newspaper-o:before {
    content: ""
}

.fa-wifi:before {
    content: ""
}

.fa-calculator:before {
    content: ""
}

.fa-paypal:before {
    content: ""
}

.fa-google-wallet:before {
    content: ""
}

.fa-cc-visa:before {
    content: ""
}

.fa-cc-mastercard:before {
    content: ""
}

.fa-cc-discover:before {
    content: ""
}

.fa-cc-amex:before {
    content: ""
}

.fa-cc-paypal:before {
    content: ""
}

.fa-cc-stripe:before {
    content: ""
}

.fa-bell-slash:before {
    content: ""
}

.fa-bell-slash-o:before {
    content: ""
}

.fa-trash:before {
    content: ""
}

.fa-copyright:before {
    content: ""
}

.fa-at:before {
    content: ""
}

.fa-eyedropper:before {
    content: ""
}

.fa-paint-brush:before {
    content: ""
}

.fa-birthday-cake:before {
    content: ""
}

.fa-area-chart:before {
    content: ""
}

.fa-pie-chart:before {
    content: ""
}

.fa-line-chart:before {
    content: ""
}

.fa-lastfm:before {
    content: ""
}

.fa-lastfm-square:before {
    content: ""
}

.fa-toggle-off:before {
    content: ""
}

.fa-toggle-on:before {
    content: ""
}

.fa-bicycle:before {
    content: ""
}

.fa-bus:before {
    content: ""
}

.fa-ioxhost:before {
    content: ""
}

.fa-angellist:before {
    content: ""
}

.fa-cc:before {
    content: ""
}

.fa-ils:before, .fa-shekel:before, .fa-sheqel:before {
    content: ""
}

.fa-meanpath:before {
    content: ""
}

.fa-buysellads:before {
    content: ""
}

.fa-connectdevelop:before {
    content: ""
}

.fa-dashcube:before {
    content: ""
}

.fa-forumbee:before {
    content: ""
}

.fa-leanpub:before {
    content: ""
}

.fa-sellsy:before {
    content: ""
}

.fa-shirtsinbulk:before {
    content: ""
}

.fa-simplybuilt:before {
    content: ""
}

.fa-skyatlas:before {
    content: ""
}

.fa-cart-plus:before {
    content: ""
}

.fa-cart-arrow-down:before {
    content: ""
}

.fa-diamond:before {
    content: ""
}

.fa-ship:before {
    content: ""
}

.fa-user-secret:before {
    content: ""
}

.fa-motorcycle:before {
    content: ""
}

.fa-street-view:before {
    content: ""
}

.fa-heartbeat:before {
    content: ""
}

.fa-venus:before {
    content: ""
}

.fa-mars:before {
    content: ""
}

.fa-mercury:before {
    content: ""
}

.fa-intersex:before, .fa-transgender:before {
    content: ""
}

.fa-transgender-alt:before {
    content: ""
}

.fa-venus-double:before {
    content: ""
}

.fa-mars-double:before {
    content: ""
}

.fa-venus-mars:before {
    content: ""
}

.fa-mars-stroke:before {
    content: ""
}

.fa-mars-stroke-v:before {
    content: ""
}

.fa-mars-stroke-h:before {
    content: ""
}

.fa-neuter:before {
    content: ""
}

.fa-genderless:before {
    content: ""
}

.fa-facebook-official:before {
    content: ""
}

.fa-pinterest-p:before {
    content: ""
}

.fa-whatsapp:before {
    content: ""
}

.fa-server:before {
    content: ""
}

.fa-user-plus:before {
    content: ""
}

.fa-user-times:before {
    content: ""
}

.fa-bed:before, .fa-hotel:before {
    content: ""
}

.fa-viacoin:before {
    content: ""
}

.fa-train:before {
    content: ""
}

.fa-subway:before {
    content: ""
}

.fa-medium:before {
    content: ""
}

.fa-y-combinator:before, .fa-yc:before {
    content: ""
}

.fa-optin-monster:before {
    content: ""
}

.fa-opencart:before {
    content: ""
}

.fa-expeditedssl:before {
    content: ""
}

.fa-battery-4:before, .fa-battery-full:before, .fa-battery:before {
    content: ""
}

.fa-battery-3:before, .fa-battery-three-quarters:before {
    content: ""
}

.fa-battery-2:before, .fa-battery-half:before {
    content: ""
}

.fa-battery-1:before, .fa-battery-quarter:before {
    content: ""
}

.fa-battery-0:before, .fa-battery-empty:before {
    content: ""
}

.fa-mouse-pointer:before {
    content: ""
}

.fa-i-cursor:before {
    content: ""
}

.fa-object-group:before {
    content: ""
}

.fa-object-ungroup:before {
    content: ""
}

.fa-sticky-note:before {
    content: ""
}

.fa-sticky-note-o:before {
    content: ""
}

.fa-cc-jcb:before {
    content: ""
}

.fa-cc-diners-club:before {
    content: ""
}

.fa-clone:before {
    content: ""
}

.fa-balance-scale:before {
    content: ""
}

.fa-hourglass-o:before {
    content: ""
}

.fa-hourglass-1:before, .fa-hourglass-start:before {
    content: ""
}

.fa-hourglass-2:before, .fa-hourglass-half:before {
    content: ""
}

.fa-hourglass-3:before, .fa-hourglass-end:before {
    content: ""
}

.fa-hourglass:before {
    content: ""
}

.fa-hand-grab-o:before, .fa-hand-rock-o:before {
    content: ""
}

.fa-hand-paper-o:before, .fa-hand-stop-o:before {
    content: ""
}

.fa-hand-scissors-o:before {
    content: ""
}

.fa-hand-lizard-o:before {
    content: ""
}

.fa-hand-spock-o:before {
    content: ""
}

.fa-hand-pointer-o:before {
    content: ""
}

.fa-hand-peace-o:before {
    content: ""
}

.fa-trademark:before {
    content: ""
}

.fa-registered:before {
    content: ""
}

.fa-creative-commons:before {
    content: ""
}

.fa-gg:before {
    content: ""
}

.fa-gg-circle:before {
    content: ""
}

.fa-tripadvisor:before {
    content: ""
}

.fa-odnoklassniki:before {
    content: ""
}

.fa-odnoklassniki-square:before {
    content: ""
}

.fa-get-pocket:before {
    content: ""
}

.fa-wikipedia-w:before {
    content: ""
}

.fa-safari:before {
    content: ""
}

.fa-chrome:before {
    content: ""
}

.fa-firefox:before {
    content: ""
}

.fa-opera:before {
    content: ""
}

.fa-internet-explorer:before {
    content: ""
}

.fa-television:before, .fa-tv:before {
    content: ""
}

.fa-contao:before {
    content: ""
}

.fa-500px:before {
    content: ""
}

.fa-amazon:before {
    content: ""
}

.fa-calendar-plus-o:before {
    content: ""
}

.fa-calendar-minus-o:before {
    content: ""
}

.fa-calendar-times-o:before {
    content: ""
}

.fa-calendar-check-o:before {
    content: ""
}

.fa-industry:before {
    content: ""
}

.fa-map-pin:before {
    content: ""
}

.fa-map-signs:before {
    content: ""
}

.fa-map-o:before {
    content: ""
}

.fa-map:before {
    content: ""
}

.fa-commenting:before {
    content: ""
}

.fa-commenting-o:before {
    content: ""
}

.fa-houzz:before {
    content: ""
}

.fa-vimeo:before {
    content: ""
}

.fa-black-tie:before {
    content: ""
}

.fa-fonticons:before {
    content: ""
}

.fa-reddit-alien:before {
    content: ""
}

.fa-edge:before {
    content: ""
}

.fa-credit-card-alt:before {
    content: ""
}

.fa-codiepie:before {
    content: ""
}

.fa-modx:before {
    content: ""
}

.fa-fort-awesome:before {
    content: ""
}

.fa-usb:before {
    content: ""
}

.fa-product-hunt:before {
    content: ""
}

.fa-mixcloud:before {
    content: ""
}

.fa-scribd:before {
    content: ""
}

.fa-pause-circle:before {
    content: ""
}

.fa-pause-circle-o:before {
    content: ""
}

.fa-stop-circle:before {
    content: ""
}

.fa-stop-circle-o:before {
    content: ""
}

.fa-shopping-bag:before {
    content: ""
}

.fa-shopping-basket:before {
    content: ""
}

.fa-hashtag:before {
    content: ""
}

.fa-bluetooth:before {
    content: ""
}

.fa-bluetooth-b:before {
    content: ""
}

.fa-percent:before {
    content: ""
}

.fa-gitlab:before {
    content: ""
}

.fa-wpbeginner:before {
    content: ""
}

.fa-wpforms:before {
    content: ""
}

.fa-envira:before {
    content: ""
}

.fa-universal-access:before {
    content: ""
}

.fa-wheelchair-alt:before {
    content: ""
}

.fa-question-circle-o:before {
    content: ""
}

.fa-blind:before {
    content: ""
}

.fa-audio-description:before {
    content: ""
}

.fa-volume-control-phone:before {
    content: ""
}

.fa-braille:before {
    content: ""
}

.fa-assistive-listening-systems:before {
    content: ""
}

.fa-american-sign-language-interpreting:before, .fa-asl-interpreting:before {
    content: ""
}

.fa-deaf:before, .fa-deafness:before, .fa-hard-of-hearing:before {
    content: ""
}

.fa-glide:before {
    content: ""
}

.fa-glide-g:before {
    content: ""
}

.fa-sign-language:before, .fa-signing:before {
    content: ""
}

.fa-low-vision:before {
    content: ""
}

.fa-viadeo:before {
    content: ""
}

.fa-viadeo-square:before {
    content: ""
}

.fa-snapchat:before {
    content: ""
}

.fa-snapchat-ghost:before {
    content: ""
}

.fa-snapchat-square:before {
    content: ""
}

.fa-pied-piper:before {
    content: ""
}

.fa-first-order:before {
    content: ""
}

.fa-yoast:before {
    content: ""
}

.fa-themeisle:before {
    content: ""
}

.fa-google-plus-circle:before, .fa-google-plus-official:before {
    content: ""
}

.fa-fa:before, .fa-font-awesome:before {
    content: ""
}

.fa-handshake-o:before {
    content: ""
}

.fa-envelope-open:before {
    content: ""
}

.fa-envelope-open-o:before {
    content: ""
}

.fa-linode:before {
    content: ""
}

.fa-address-book:before {
    content: ""
}

.fa-address-book-o:before {
    content: ""
}

.fa-address-card:before, .fa-vcard:before {
    content: ""
}

.fa-address-card-o:before, .fa-vcard-o:before {
    content: ""
}

.fa-user-circle:before {
    content: ""
}

.fa-user-circle-o:before {
    content: ""
}

.fa-user-o:before {
    content: ""
}

.fa-id-badge:before {
    content: ""
}

.fa-drivers-license:before, .fa-id-card:before {
    content: ""
}

.fa-drivers-license-o:before, .fa-id-card-o:before {
    content: ""
}

.fa-quora:before {
    content: ""
}

.fa-free-code-camp:before {
    content: ""
}

.fa-telegram:before {
    content: ""
}

.fa-thermometer-4:before, .fa-thermometer-full:before, .fa-thermometer:before {
    content: ""
}

.fa-thermometer-3:before, .fa-thermometer-three-quarters:before {
    content: ""
}

.fa-thermometer-2:before, .fa-thermometer-half:before {
    content: ""
}

.fa-thermometer-1:before, .fa-thermometer-quarter:before {
    content: ""
}

.fa-thermometer-0:before, .fa-thermometer-empty:before {
    content: ""
}

.fa-shower:before {
    content: ""
}

.fa-bath:before, .fa-bathtub:before, .fa-s15:before {
    content: ""
}

.fa-podcast:before {
    content: ""
}

.fa-window-maximize:before {
    content: ""
}

.fa-window-minimize:before {
    content: ""
}

.fa-window-restore:before {
    content: ""
}

.fa-times-rectangle:before, .fa-window-close:before {
    content: ""
}

.fa-times-rectangle-o:before, .fa-window-close-o:before {
    content: ""
}

.fa-bandcamp:before {
    content: ""
}

.fa-grav:before {
    content: ""
}

.fa-etsy:before {
    content: ""
}

.fa-imdb:before {
    content: ""
}

.fa-ravelry:before {
    content: ""
}

.fa-eercast:before {
    content: ""
}

.fa-microchip:before {
    content: ""
}

.fa-snowflake-o:before {
    content: ""
}

.fa-superpowers:before {
    content: ""
}

.fa-wpexplorer:before {
    content: ""
}

.fa-meetup:before {
    content: ""
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

.btn.square, img.square {
    border-radius: 0
}

.btn.rounded, img.rounded {
    border-radius: 50%
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    color: #56817A;
    border: 1px solid #56817A;
    border-radius: 20px;
    text-shadow: none
}

.btn:hover {
    color: #37534f;
    border-color: #37534f
}

.btn.small {
    padding: 8px 12px;
    font-size: 10px
}

.btn.large {
    padding: 10px 24px;
    font-size: 16px
}

.btn.secondary {
    color: #39424B;
    border-color: #39424B
}

.btn.secondary:hover {
    color: #181c20;
    border-color: #181c20
}

.card {
    width: 48%;
    margin: 0 1% 20px;
    cursor: pointer;
    background: #fff;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.card .card-content {
    padding: 10px 30px 20px
}

.card .card-footer {
    padding: 12px 30px;
    border-top: 1px solid #ddd
}

.card .card-footer .meta {
    float: left;
    margin: 0
}

.card .card-footer .share {
    float: right
}

.card:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    -webkit-transform: translateY(-5px) !important;
    transform: translateY(-5px) !important
}

.back-button, .profile a img {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

ul.share-buttons {
    margin: 0;
    list-style: none;
    padding: 0
}

ul.share-buttons li {
    margin: 0;
    display: inline-block
}

ul.share-buttons li a {
    color: rgba(86, 129, 122, .7)
}

ul.share-buttons li a:hover {
    color: #56817a
}

ul.share-buttons li i {
    font-size: 24px
}

.social {
    margin: 0
}

.social.item {
    display: inline-block;
    margin: 0 4px 0 0;
    line-height: 16px
}

.social.item a {
    padding: 6px 8px 6px 9px;
    position: relative;
    display: block;
    color: #F6F4E9;
    border-radius: 20px;
    text-shadow: none
}

.blog-header h1, .cover .background-container {
    text-shadow: 2px 2px 10px #222F38, 2px 2px 10px #222F38
}

.social.item a:hover {
    opacity: 1;
    color: #56817A
}

.social.item a .label {
    display: none
}

.social.item a i {
    display: block;
    font-size: 24px
}

.tags a {
    padding: 2px 4px;
    font-size: 8px;
    color: #f8f8f8;
    border-radius: 4px;
    background-color: rgba(86, 129, 122, .7)
}

.tags a:hover {
    background-color: #56817a
}

.back-button {
    font-size: 20px;
    padding: 20px;
    background: #56817A;
    position: absolute;
    border-radius: 50%;
    margin-top: -40px;
    margin-left: 20px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.back-button i {
    color: #fff
}

:focus {
    outline: 0
}

input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel] {
    width: 240px;
    padding: 16px;
    font-size: 14px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f8f8f8
}

input[type=text] ::-webkit-input-placeholder, input[type=password] ::-webkit-input-placeholder, input[type=datetime] ::-webkit-input-placeholder, input[type=datetime-local] ::-webkit-input-placeholder, input[type=date] ::-webkit-input-placeholder, input[type=month] ::-webkit-input-placeholder, input[type=time] ::-webkit-input-placeholder, input[type=week] ::-webkit-input-placeholder, input[type=number] ::-webkit-input-placeholder, input[type=email] ::-webkit-input-placeholder, input[type=url] ::-webkit-input-placeholder, input[type=search] ::-webkit-input-placeholder, input[type=tel] ::-webkit-input-placeholder {
    color: #ccc
}

input[type=text] :-moz-placeholder, input[type=password] :-moz-placeholder, input[type=datetime] :-moz-placeholder, input[type=datetime-local] :-moz-placeholder, input[type=date] :-moz-placeholder, input[type=month] :-moz-placeholder, input[type=time] :-moz-placeholder, input[type=week] :-moz-placeholder, input[type=number] :-moz-placeholder, input[type=email] :-moz-placeholder, input[type=url] :-moz-placeholder, input[type=search] :-moz-placeholder, input[type=tel] :-moz-placeholder {
    color: #ccc
}

input[type=text] ::-moz-placeholder, input[type=password] ::-moz-placeholder, input[type=datetime] ::-moz-placeholder, input[type=datetime-local] ::-moz-placeholder, input[type=date] ::-moz-placeholder, input[type=month] ::-moz-placeholder, input[type=time] ::-moz-placeholder, input[type=week] ::-moz-placeholder, input[type=number] ::-moz-placeholder, input[type=email] ::-moz-placeholder, input[type=url] ::-moz-placeholder, input[type=search] ::-moz-placeholder, input[type=tel] ::-moz-placeholder {
    color: #ccc
}

input[type=text] :-ms-input-placeholder, input[type=password] :-ms-input-placeholder, input[type=datetime] :-ms-input-placeholder, input[type=datetime-local] :-ms-input-placeholder, input[type=date] :-ms-input-placeholder, input[type=month] :-ms-input-placeholder, input[type=time] :-ms-input-placeholder, input[type=week] :-ms-input-placeholder, input[type=number] :-ms-input-placeholder, input[type=email] :-ms-input-placeholder, input[type=url] :-ms-input-placeholder, input[type=search] :-ms-input-placeholder, input[type=tel] :-ms-input-placeholder {
    color: #ccc
}

input[type=text]:focus, input[type=password]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=date]:focus, input[type=month]:focus, input[type=time]:focus, input[type=week]:focus, input[type=number]:focus, input[type=email]:focus, input[type=url]:focus, input[type=search]:focus, input[type=tel]:focus {
    border-color: #39424B
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.animated, .nav-header a i, .posts > li > a > h2, .tags a, a {
    -webkit-transition: all 350ms cubic-bezier(.645, .045, .355, 1);
    transition: all 350ms cubic-bezier(.645, .045, .355, 1)
}

.hvr-float, .hvr-grow {
    -webkit-transition-duration: .3s
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 350ms;
    animation: fadeIn ease-in 350ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 350ms;
    animation-duration: 350ms
}

.hvr-grow {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: .3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform
}

.hvr-float, .hvr-grow-rotate {
    -webkit-box-shadow: 0 0 1px transparent;
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle
}

.hvr-grow:active, .hvr-grow:focus, .hvr-grow:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.hvr-float {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-float:active, .hvr-float:focus, .hvr-float:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
}

.hvr-grow-rotate {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent
}

.hvr-grow-rotate:active, .hvr-grow-rotate:focus, .hvr-grow-rotate:hover {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg)
}

@-webkit-keyframes hvr-buzz-out {
    10%, 30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20%, 40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50%, 70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60%, 80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}

@keyframes hvr-buzz-out {
    10%, 30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20%, 40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50%, 70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60%, 80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}

.hvr-buzz-out {
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    vertical-align: middle;
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent
}

.cover, table {
    display: block
}

.hvr-buzz-out:active, .hvr-buzz-out:focus, .hvr-buzz-out:hover {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

@-webkit-keyframes move {
    0%, 100% {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
    50% {
        -webkit-transform: translate(20px, 100px);
        transform: translate(20px, 100px)
    }
}

@keyframes move {
    0%, 100% {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
    50% {
        -webkit-transform: translate(20px, 100px);
        transform: translate(20px, 100px)
    }
}

@-webkit-keyframes blink {
    0%, 100% {
        top: 50px;
        left: 0
    }
    50% {
        top: 100px;
        left: 20px
    }
}

@keyframes blink {
    0%, 100% {
        top: 50px;
        left: 0
    }
    50% {
        top: 100px;
        left: 20px
    }
}

@-webkit-keyframes flicker {
    0%, 80%, 93% {
        opacity: .9
    }
    30% {
        opacity: .97
    }
    40%, 98% {
        opacity: 1
    }
    88% {
        opacity: .98
    }
    90% {
        opacity: .94
    }
    95% {
        opacity: .99
    }
    96%, 99% {
        opacity: .93
    }
}

@keyframes flicker {
    0%, 80%, 93% {
        opacity: .9
    }
    30% {
        opacity: .97
    }
    40%, 98% {
        opacity: 1
    }
    88% {
        opacity: .98
    }
    90% {
        opacity: .94
    }
    95% {
        opacity: .99
    }
    96%, 99% {
        opacity: .93
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
    overflow: auto;
    margin-bottom: 20px
}

table thead {
    background-color: #aac6c2;
    color: #39424B;
    text-align: left
}

table tr {
    border-bottom: 1px solid #ddd
}

table td, table th {
    padding: 12px 18px
}

table::-webkit-scrollbar {
    -webkit-appearance: none
}

table::-webkit-scrollbar:vertical {
    width: 12px
}

.blog-header, .cover, .cover .background-container {
    width: 100%;
    text-align: center
}

table::-webkit-scrollbar:horizontal {
    height: 12px
}

table::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #fff
}

table::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff
}

.cover {
    position: fixed;
    height: 100%;
    opacity: 0;
    z-index: 0;
    overflow: hidden;
    background: center center no-repeat #39424B;
    background-size: cover
}

.cover.expanded {
    opacity: 1;
    z-index: 15
}

.cover.expanded .blog-header {
    display: none
}

.cover .background-container {
    height: 100%;
    font-weight: 100;
    color: #f8f8f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .4);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 0, .5)
}

.blog-header {
    z-index: 3;
    position: absolute
}

.blog-header h1 {
    color: #F6F4E9;
    margin: 100px 0 10px;
    font-size: 2.75rem
}

.blog-header h1:hover {
    color: #7ca8a0
}

.profile {
    max-width: 620px
}

.profile p {
    margin: 0 32px;
    font-size: 14px
}

.profile a h1 {
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    color: #F6F4E9;
    margin: 8px 0
}

.profile a h3 {
    margin: 8px 0 24px;
    color: #F6F4E9;
    font-size: 18px
}

.profile a img {
    width: 112px;
    border: 2px solid #56817A;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.call-to-action-container {
    margin: 12px 0
}

.call-to-action-container .navigation .links li {
    display: inline-block;
    margin: 5px;
    border-radius: 20px;
    background: #56817A;
    color: #F6F4E9;
    border: 1px solid #F6F4E9
}

.call-to-action-container .navigation .links li:hover {
    border: 1px solid #56817A;
    background: #F6F4E9
}

.call-to-action-container .navigation .links li a {
    padding: 10px 20px;
    font-size: 14px;
    position: relative;
    display: block;
    color: #F6F4E9;
    border-radius: 20px;
    text-shadow: none;
    font-weight: 700
}

.navigation .links li a, .tags-overlay.container {
    text-shadow: 2px 2px 10px #222F38, 2px 2px 10px #222F38
}

.call-to-action-container .navigation .links li a:hover {
    opacity: 1;
    color: #56817A
}

.call-to-action-container .navigation .links li:first-child {
    border: 1px solid #F6F4E9
}

.call-to-action-container .navigation .links li:first-child:hover {
    border: 1px solid #56817A
}

.navigation .links {
    margin: 0;
    list-style: none
}

.navigation .links li {
    display: inline-block;
    line-height: 16px;
    border-left: 1px solid #F6F4E9
}

.navigation .links li:first-child {
    border: none
}

.navigation .links li.hide {
    display: none
}

.navigation .links li a {
    display: block;
    float: none;
    padding: 8px 20px 8px 22px;
    font-size: 18px;
    color: #F6F4E9
}

.navigation .links li a:hover {
    color: #7ca8a0
}

.comments {
    padding: 32px 0 0
}

.nav-header {
    width: 100%;
    z-index: 10;
    padding-top: 10px
}

.nav-header a {
    z-index: 10;
    left: 20px
}

.nav-header a.right {
    float: right;
    left: auto;
    right: 20px
}

.nav-header a i {
    position: relative;
    font-size: 20px;
    color: #F6F4E9;
    background: #56817A;
    border: 2px solid #F6F4E9;
    border-radius: 50%;
    padding: 12px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.nav-header.nav-header-fixed, .tags-overlay {
    position: fixed
}

.nav-header a i:hover {
    cursor: pointer
}

.nav-header a i.fa-close {
    font-size: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: initial;
    border: none
}

.nav-header a img {
    max-width: 45px;
    border: 2px solid #F6F4E9;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.nav-header a img.avatar {
    border: 2px solid #56817A
}

.nav-header.mobile {
    display: none
}

.tags-overlay {
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    background: #222F38
}

.tags-overlay.show {
    opacity: .97;
    z-index: 5
}

.tags-overlay.container {
    font-weight: 100;
    text-align: center;
    color: #f8f8f8
}

.tags-overlay .tags-container h2 {
    color: #F6F4E9
}

.tags-overlay .tags-container .tags a {
    display: inline-block;
    padding: 8px 14px;
    margin: 5px;
    font-size: 12px;
    background-color: rgba(133, 113, 95, .7)
}

.tags-overlay .tags-container .tags a:hover {
    background-color: #85715f
}

.page-template .tag-header {
    position: absolute;
    z-index: 15;
    margin-top: -15px;
    text-align: center;
    width: 900px
}

.page-template .tag-header .tags {
    line-height: normal
}

.page-template .tag-header .tags a {
    padding: 8px 14px;
    font-size: 12px;
    background-color: #56817A
}

.page-template .profile-image {
    margin-top: -80px;
    position: absolute;
    text-align: center;
    width: 100%
}

.page-template .profile-image img {
    max-width: 150px;
    border: 2px solid #56817A;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}

.page-index, .page-tag {
    max-width: 900px;
    margin: 0 auto
}

.page-author {
    margin: 0 auto
}

.page-author .profile-container {
    margin-top: 40px
}

.page-author .author-header {
    text-align: center
}

.page-author .author-header h1 {
    margin-top: 60px;
    margin-bottom: 0
}

.page-author .author-header h1 i {
    font-size: 25px;
    vertical-align: text-top
}

.page-author .author-posts {
    max-width: 900px;
    background: #fff;
    margin: 0 auto;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.page-author .author-posts-list {
    padding: 0;
    margin: 0 20px;
    list-style-type: none;
    text-align: left
}

.page-author .author-posts-list li {
    padding-bottom: 10px
}

.page-author .author-posts-list li a {
    color: #333
}

.page-author .author-posts-list li a h2 {
    margin-bottom: 12px
}

.page-author .author-posts-list li a:hover h2, .page-author .author-posts-list li a:hover p {
    color: #56817A
}

.page-about .material-cover {
    margin-bottom: -40px
}

.page-about #post-title {
    margin-top: 60px;
    margin-bottom: 0
}

.page-about .post-header .social li a {
    color: #7ca8a0;
    padding: 5px
}

.error-body h1, .error-body h2 {
    color: #f8f8f8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4)
}

body.page-browser-compatibility, body.page-error {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center
}

.toast-title, .token.bold, .token.important {
    font-weight: 700
}

body.page-error {
    background: url(/assets/img/backgrounds/404_error_background.jpg) center/cover no-repeat
}

body.page-error > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

body.page-browser-compatibility {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .4);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 0, .5);
    background-image: url(/assets/img/backgrounds/browser-compatibility.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

body.page-browser-compatibility .error-body {
    text-align: left;
    margin: 100px 20px 20px;
    padding: 20px;
    background-color: #bbb;
    background-color: rgba(0, 0, 0, .2)
}

.error-body {
    max-width: 550px;
    margin: 150px auto 20px
}

.error-body h1 {
    font-size: 40px
}

.error-body h2 {
    font-size: 24px;
    line-height: 35px
}

.pagination {
    margin: 40px 0;
    text-align: center
}

.pagination.post-related {
    margin: 0 auto;
    max-width: 900px;
    padding-top: 30px
}

.pagination.post-related #prev-btn {
    float: left
}

.pagination.post-related #next-btn {
    float: right
}

.pagination.post-related .btn {
    border: none;
    padding: 0;
    text-transform: uppercase;
    color: #39424B
}

.pagination.post-related .btn i {
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    padding: 5px;
    background: #39424B;
    border-radius: 50%
}

.pagination .index {
    margin-right: 16px;
    margin-left: 16px;
    font-size: 12px;
    color: #999;
    display: inline
}

.posts {
    padding: 0;
    margin: 0 20px;
    text-align: left
}

.posts > li > a > h2 {
    margin-bottom: 16px;
    line-height: 48px
}

.posts > li > a > h2:hover {
    color: #56817A
}

.posts > li > a > h2:first-child {
    margin-top: 0
}

.posts .description {
    margin-bottom: 16px;
    font-size: 14px;
    color: #999
}

.posts .divider {
    width: 30%;
    margin: 26px 0;
    border-top: 1px solid #ddd
}

.posts .material-cover {
    height: 200px;
    margin-bottom: 0;
    position: relative
}

.posts .material-cover.no-cover {
    display: none
}

.post-card {
    max-width: 900px;
    background: #fff;
    margin: 0 auto;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.post-card .post-container {
    padding: 20px 60px
}

.post .author-credit {
    border-top: 2px solid #56817A;
    padding: 30px 0 20px 10px;
    margin-top: 40px
}

.post .author-credit h4, .post .author-credit p {
    margin: 0;
    color: #666
}

.post .author-credit .author-image {
    display: inline-block;
    vertical-align: middle;
    margin-right: 34px
}

.post .author-credit .author-image img {
    max-width: 70px;
    border: 1px solid #56817A
}

.post .author-credit .author-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;
    width: 75%
}

.post .author-credit .author-info .author-name {
    color: #666
}

.post-header .meta, .posts .meta {
    margin: 20px 0 0;
    font-size: 12px;
    color: #ccc
}

.post-header {
    text-align: center
}

.post-header .share {
    margin-bottom: 40px
}

.post-content .kg-image-card {
    margin: 30px auto
}

.post-content .kg-image-card .kg-image {
    max-width: 100%;
    margin: 12px auto;
    text-align: center;
    border-radius: 3px;
    display: block
}

.post-content .kg-image-card figcaption {
    text-align: center;
    font-size: 14px;
    color: #999
}

.post-content pre {
    width: 95%
}

.post-content a {
    -webkit-transition: all .5s;
    transition: all .5s;
    text-decoration: underline
}

.post-content a::after {
    position: absolute;
    bottom: -.5px;
    left: 0;
    width: 100%;
    height: 0;
    content: ""
}

.post-content a:hover, .post-content a:visited {
    color: #999
}

.post-content .author img {
    display: inline-block;
    height: 22px;
    margin: 0 8px;
    vertical-align: middle;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

#post-image {
    max-width: 100%;
    margin-top: 16px
}

#post-title {
    margin: 30px 0 10px
}

#post-title i {
    vertical-align: top;
    font-size: 26px
}

.search-container {
    margin-top: 40px
}

.search-form {
    padding: 4px 0
}

.search-form .search-field {
    width: 200px;
    height: 16px;
    -webkit-transition: border .3s ease-in;
    transition: border .3s ease-in;
    border-radius: 26px
}

.search-form .search-field:focus, .search-form .search-field:hover {
    border: 1px solid #609088
}

.search-results {
    text-align: center
}

.search-results > p {
    margin-top: 48px;
    font-size: 18px
}

.result {
    display: block;
    padding: 8px;
    text-decoration: none;
    border: 1px solid #F6F4E9;
    border-radius: 5px;
    margin: 20px 10%
}

.result > h2, .result > h4 {
    color: #F6F4E9
}

.result:hover {
    background: #56817A;
    -webkit-transition: .5s;
    transition: .5s
}

.result:hover > h2, .result:hover > h4 {
    -webkit-transition: .5s;
    transition: .5s;
    color: #F6F4E9
}

@media only screen and (min-width: 1200px) {
    .page-template .tag-header {
        width: 1100px
    }

    .container-wrapper, .post-card, .post-related {
        max-width: 1100px
    }
}

@media all and (max-width: 1024px) {
    .post {
        margin: 0
    }

    .post-card, .post-related {
        margin: 0 40px
    }

    .container-wrapper {
        max-width: 700px
    }

    .cover.expanded .nav-header.mobile {
        position: absolute;
        display: block
    }

    .cover.expanded .nav-header.mobile > a > i {
        color: #F6F4E9
    }

    .profile {
        width: 100%;
        height: 100%;
        max-width: 100%
    }

    .profile.contact nav {
        padding: 0
    }

    .profile a img {
        width: 128px;
        margin-bottom: 16px
    }

    .navigation, .navigation.left .links.item {
        width: 100%
    }

    .profile p {
        margin: 0 160px
    }

    #avatar-link {
        display: inline-block;
        margin-top: 64px
    }

    .navigation.right {
        margin: 0
    }

    main {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@media all and (max-width: 700px) {
    .container-wrapper {
        max-width: 100%
    }

    .card {
        width: 100%
    }

    .post .author-credit .author-info {
        width: 70%
    }
}

@media all and (max-width: 600px) {
    .post .author-credit .author-info {
        width: 65%
    }

    .post-card, .post-related {
        margin: 0 20px
    }

    .post-card .post-container, .post-related .post-container {
        padding: 20px 40px
    }

    .post-content p img {
        width: 100%
    }

    .nav-header.nav-header-fixed {
        position: absolute
    }

    .profile p {
        margin: 0 80px
    }

    .post > p > input {
        width: auto
    }

    .error-body {
        margin: 30px auto;
        padding: 0 12px
    }

    .error-body h1 {
        font-size: 36px
    }

    .error-body h2 {
        font-size: 18px
    }

    .search-container {
        margin-top: 60px
    }

    .card .card-footer .share {
        display: none
    }

    .pagination.post-related .btn {
        margin: 20px
    }

    .pagination.post-related #next-btn, .pagination.post-related #prev-btn {
        float: none
    }

    body .page-browser-compatibility .error-body {
        margin-top: 20px
    }
}

@media all and (max-width: 480px) {
    .btn, .pagination, .post .author-credit {
        text-align: center
    }

    .btn {
        display: block;
        margin: 10px 0
    }

    .btn.small {
        padding: 14px
    }

    .blog-header h1 {
        margin-bottom: 5px;
        font-size: 2rem
    }

    .posts {
        margin: 0 12px
    }

    .post .material-cover {
        margin-bottom: 0
    }

    .post .author-credit .author-image {
        margin-right: 0;
        display: block
    }

    .post.newer, .post.older {
        padding: 16px
    }

    .post.newer {
        margin: 0 0 20px
    }

    .post.older {
        margin: 0 0 10px
    }

    .post-card, .post-related {
        margin: 0
    }

    .post-card .post-container, .post-related .post-container {
        padding: 20px
    }

    .pagination {
        padding: 0 20px
    }

    .pagination .btn {
        margin: 12px
    }

    .profile p {
        margin: 0 16px
    }

    .nav-header > a {
        left: 10px
    }

    .nav-header > a.right {
        right: 10px
    }

    blockquote > p {
        margin: 32px 10px
    }
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

.toast-message a, .toast-message label {
    color: #fff
}

.toast-message a:hover {
    color: #ccc;
    text-decoration: none
}

.toast-close-button {
    position: relative;
    right: -.3em;
    top: -.3em;
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80)
}

.toast-top-center, .toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%
}

.toast-close-button:focus, .toast-close-button:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40)
}

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%
}

.toast-top-left {
    top: 12px;
    left: 12px
}

.toast-top-right {
    top: 12px;
    right: 12px
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px
}

#toast-container {
    position: fixed
}

#toast-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#toast-container > div {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #fff;
    opacity: .8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80)
}

#toast-container > :hover {
    -webkit-box-shadow: 0 0 12px #000;
    box-shadow: 0 0 12px #000;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer
}

#toast-container > .toast-info {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important
}

#toast-container > .toast-error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important
}

#toast-container > .toast-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important
}

#toast-container > .toast-warning {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=) !important
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
    width: 300px;
    margin: auto
}

#toast-container.toast-bottom-full-width > div, #toast-container.toast-top-full-width > div {
    width: 96%;
    margin: auto
}

.toast {
    background-color: #030303
}

.toast-success {
    background-color: #51a351
}

.toast-error {
    background-color: #bd362f
}

.toast-info {
    background-color: #2f96b4
}

.toast-warning {
    background-color: #f89406
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity: .4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40)
}

@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em
    }

    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em
    }

    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em
    }
}

#toast-container {
    bottom: 2%;
    z-index: 10
}

#toast-container > .toast {
    background-image: none !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}

#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: .5em;
    margin: auto .5em auto -1.5em
}

#toast-container > .toast:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

#toast-container > .toast-info {
    background-color: #7C221A;
    opacity: 1
}

#toast-container > .toast-info:before {
    content: "\f01c"
}

code[class*=language-], pre[class*=language-] {
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: .3em
}

:not(pre) > code[class*=language-], pre[class*=language-] {
    background: #272822
}

:not(pre) > code[class*=language-] {
    padding: .1em;
    border-radius: .3em
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
    color: #708090
}

.token.punctuation {
    color: #f8f8f2
}

.namespace {
    opacity: .7
}

.token.constant, .token.deleted, .token.property, .token.symbol, .token.tag {
    color: #f92672
}

.token.boolean, .token.number {
    color: #ae81ff
}

.token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {
    color: #a6e22e
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url, .token.variable {
    color: #f8f8f2
}

.token.atrule, .token.attr-value, .token.function {
    color: #e6db74
}

.token.keyword {
    color: #66d9ef
}

.token.important, .token.regex {
    color: #fd971f
}

.token.entity {
    cursor: help
}

.post-content img {
    border-style: none
}

.post-content img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
    /*transition: 0.3s;*/
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: 0
}

/*.post-content img:hover {*/
/*opacity: 0.7;*/
/*}*/

/*!* The Modal (background) *!*/
/*.modal {*/
/*display: none; !* Hidden by default *!*/
/*position: fixed; !* Stay in place *!*/
/*z-index: 1; !* Sit on top *!*/
/*padding-top: 100px; !* Location of the box *!*/
/*left: 0;*/
/*top: 0;*/
/*width: 100%; !* Full width *!*/
/*height: 100%; !* Full height *!*/
/*overflow: auto; !* Enable scroll if needed *!*/
/*background-color: rgb(0,0,0); !* Fallback color *!*/
/*background-color: rgba(0,0,0,0.9); !* Black w/ opacity *!*/
/*}*/

/*!* Modal Content (image) *!*/
/*.modal-content {*/
/*margin: auto;*/
/*display: block;*/
/*width: 80%;*/
/*max-width: 700px;*/
/*}*/

/*!* Add Animation *!*/
/*.modal-content {*/
/*-webkit-animation-name: zoom;*/
/*-webkit-animation-duration: 0.6s;*/
/*animation-name: zoom;*/
/*animation-duration: 0.6s;*/
/*}*/

/*@-webkit-keyframes zoom {*/
/*from {-webkit-transform:scale(0)}*/
/*to {-webkit-transform:scale(1)}*/
/*}*/

/*@keyframes zoom {*/
/*from {transform:scale(0)}*/
/*to {transform:scale(1)}*/
/*}*/

/*!* The Close Button *!*/
/*.close {*/
/*position: absolute;*/
/*top: 15px;*/
/*right: 35px;*/
/*color: #f1f1f1;*/
/*font-size: 40px;*/
/*font-weight: bold;*/
/*transition: 0.3s;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*color: #bbb;*/
/*text-decoration: none;*/
/*cursor: pointer;*/
/*}*/

/*!* 100% Image Width on Smaller Screens *!*/
/*@media only screen and (max-width: 700px){*/
/*.modal-content {*/
/*width: 100%;*/
/*}*/
/*}*/

