@font-face {
    font-family: SourceCodePro;
    src: url(../fonts/source-code-pro/SourceCodePro-Regular.ttf), url(../fonts/source-code-pro/SourceCodePro-Regular.otf), url(../fonts/source-code-pro/SourceCodePro-Regular.eot), url(../fonts/source-code-pro/SourceCodePro-Regular.ttf.woff)
}

.hljs {
    padding: 2px 2px;
    border-radius: 5px;
    margin: 0 .25em;
    font-family: SourceCodePro!important;
    font-size: 13px!important;
    line-height: 17px!important;
}

